<div class="title" hidden><%= movie['title']%></div>
<div class="image" hidden><%= "https://image.tmdb.org/t/p/w1280#{movie['poster_path']}" %></div>
<div class="overview" hidden><%= movie['overview']%></div>
<div class="id" hidden><%= movie['id']%></div>