<div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <div class="col-4 offset-4">
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>

