<div class="col-10 offset-1">
  <h3 class="col-4 offset-4 text-muted"><%= t '.title' %></h3>
  <table class="table table-hover">
    <tbody>
      <%= render @users%>
    </tbody>
  </table>
  <div class="col-4 offset-4">
    <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

