<div class="mypage col-12">
  <h5 class="col-12 mt-3 mb-3 pb-3"><%= t '.title' %></h5>
  <div class="row">
    <% @movies.each do |movie| %>
        <div class="col-2 mt-3">
          <%= link_to movie_path(id: movie['id']) do %>
            <%= image_tag 'https://image.tmdb.org/t/p/w1280' + movie['poster_path'], class: "card-img" %>
          <% end %>
        </div>
    <% end %>
    <%= render 'shared/pagination_movies', {user: @user, msnid: @msnid, pages: @pages, cp: @current_page, fp: @first_page, mp: @max_pages} %>
  </div>
</div>