<footer class="text-center text-white">
  <ul class="list-unstyled">
    <li class="d-inline"><%= link_to t('pages.terms.title'), page_path('terms'), {class: "link"} %></li>
    <li class="d-inline"><%= link_to t('pages.privacy_policy.title'), page_path('privacy_policy'), {class: "link"} %></li>
    <li class="d-inline"><%= t 'defaults.copyright' %></li>
  </ul>
</footer>