<li class="nav-item"><%= link_to t('users.show.title'), user_path(current_user), class: 'text-white'%></li>
<li class="nav-item"><%= link_to t('user_sessions.destroy.title'), logout_path, class: 'text-white', method: :delete %></li>