<li class="nav-item"><%= link_to t('users.new.title'), new_user_path, class: 'text-white' %></li>
<li class="nav-item"><%= link_to t('user_sessions.new.title'), login_path, class: 'text-white' %></li>