@import "bootstrap";
@import "font-awesome";
@import "users";
@import "movies";
@import "user_sessions";
@import "password_resets";
@import "relationships";
@import "tmdb_bookmarks";

body{
  background-image: image-url('digital.jpg');
  background-size: 100% 100%;
}
//利用規約,プライバシーポリシー
.wrap{
  color: white;
}
//ヘッダー
header{
  background-color: transparent;
}
header .nav-item{
  margin-right: 15px;
}
//フッター
footer li {
  border-right: 1px solid white;
  padding-right: 12px;
  padding-left: 6px;
}
footer li:last-child {
  border: none;
}
footer .link {
  text-decoration: none;
  color: white ;
}
footer {
  margin-top: auto;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.wrap ol{
  list-style:none;
}
