//映画一覧
.btn-movie-index {
  background-color: dodgerblue;
}
.btn-movie-index:hover{
  text-decoration: underline;
}
.shelf{
  background-image: image-url('black_grain.jpg');
  border: 5px solid black;
}
.shelf .movie{
  writing-mode: vertical-lr;
  border: 1px solid black;
  color: black;
  height: 380px;
  transform-style: preserve-3d;
  padding: 0;
}
.shelf .movie:hover{
  font-size: large;
  width: 200px;
}
.shelf .movie .front{
  background-color: whitesmoke;
  background-repeat: no-repeat;
  border-radius: 0 0 3px 3px;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width:100%
}
.shelf .ftop{
  writing-mode: horizontal-tb;
  border-bottom: 1px solid black;
  height: 35px;
  border-radius: 3px 3px 0 0;
  background-color: lightblue;
  color: white;
}

.shelf .line{
  background-image: image-url('black_grain.jpg');
  border-top: 1px solid white;
}
.shelf span{
  color: white;
}
.shelf .img{
  height: 200px;
}
.shelf p{
  color: black;
}
.shelf .ellipsis {
  height: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//人気急上昇中映画一覧
.popular-movies{
  background-color: grey;
}
.popular-movies h3{
  color: white;
  border-bottom: 2px solid black;
}

//ジャンル一覧
.genre-list{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: left;
  font-size: 24px;
}
.genre-list h3{
  border-bottom: 2px solid black;
}
.genre-list ul{
  list-style: none;
  padding-left: 0px;
}
.genre-list li:hover{
  border-bottom: 2px solid black;
  background-color: white;
}

//モーダル
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
}
.modal-body{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
	height: 35%;
}
.modal-right{
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  margin: 0;
}
.modal-container h5{
  border-bottom: 1px solid black;
}
.modal-close{
  color: white;
  float: right;
}
.modal-close:hover{
  cursor: pointer;
}
.modal-container.active{
	opacity: 1;
	visibility: visible;
  animation:rotate_anime 1s;
}
.modal-container .fa-thumbs-up:hover{
	cursor: pointer;
}

//映画詳細
.show-movie{
  border: double 5px #4ec4d3;
}
.show-movie h5{
  border-bottom: double 5px #4ec4d3;
  font-weight: bold;
}
.show-movie h6{
  font-weight: bold;
}
.show-movie .tmdb_reviews{
  border-top: double 5px #4ec4d3;
}
.show-movie .tmdb_comments{
  border-top: double 5px #4ec4d3;
}
.show-movie .tmdb_review{
  text-align: left;
}
