.profile{
  background-color: white;
}
.profile .introduction{
  border-top: 1px solid black;
}
.user-index{
  background-color: white;
}
.user-edit{
  background-color: white;
}
.user-new{
  background-color: white;
}
h5{
  border-bottom: 1px solid black;
}
.profile img{
  width: 100%;
}

